@page "{clientID}"
@model JohariWindow.Pages.Client.IndexModel
@{
    ViewData["Title"] = "Client Response";
}
<form method="post" asp-action="Index" onsubmit="return validateCheckBoxes()">
    <input type="hidden" asp-for="@Model.ClientResponseVM.ClientID" value="@Model.Client.ClientID" />
    <div class="container">
        <div class="row">
            <h3>@Model.Client.FirstName @Model.Client.LastName - Personality Traits</h3>
        </div>
        <div class="row">
            <div class="col-12 my-3">
                <div class="mb-2">
                    Please select 12 positive and 7 negative adjectives.
                </div>
                <div>
                    When done, click submit to save the response.
                </div>
                <br />
                <span class="font-italic">If you do not understand the adjective, hover over to word for additional information</span>
            </div>
        </div>
        <div class="border border-dark p-3 rounded mb-5">
            <h3>Positives</h3>
            <div class="row">
                @for (int i = 0; i < Model.ClientResponseVM.PositiveAdjectives.Count; i++)
                {
                    <div class="col-4 mb-3">
                        <input asp-for="@Model.ClientResponseVM.PositiveAdjectives[i].Value" type="hidden" />
                        <input asp-for="@Model.ClientResponseVM.PositiveAdjectives[i].Text" type="hidden" />
                        <input class="positiveAttribute" id="@Model.ClientResponseVM.PositiveAdjectives[i].Text" asp-for="@Model.ClientResponseVM.PositiveAdjectives[i].Selected" />
                        <label for="@Model.ClientResponseVM.PositiveAdjectives[i].Text"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.AllAdjectives[i].AdjDefinition">
                            @Model.ClientResponseVM.PositiveAdjectives[i].Text
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="border border-dark p-3 rounded mb-5">
            <h3 class="border-bottom">Negatives</h3>
            <div class="row">
                @for (int i = 0; i < Model.ClientResponseVM.NegativeAdjectives.Count; i++)
                {
                    <div class="col-4 mb-3">
                        <input asp-for="@Model.ClientResponseVM.NegativeAdjectives[i].Value" type="hidden" />
                        <input asp-for="@Model.ClientResponseVM.NegativeAdjectives[i].Text" type="hidden" />
                        <input class="negativeAttribute" id="@Model.ClientResponseVM.NegativeAdjectives[i].Text" asp-for="@Model.ClientResponseVM.NegativeAdjectives[i].Selected" />
                        <label for="@Model.ClientResponseVM.NegativeAdjectives[i].Text"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.AllAdjectives[i].AdjDefinition">
                            @Model.ClientResponseVM.NegativeAdjectives[i].Text
                        </label>
                    </div>
                }
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
