@page
@model JohariWindow.Pages.Admin.IndexModel
@{
}

<div class="container">
    <div class="row">
        <div class="offset-lg-1 col-lg-6">
            <div class="py-2">
                <h2>Filter Clients</h2>
                <input autocomplete="off" id="searchField" placeholder="Client Name" class="form-control" />
            </div>
        </div>
    </div>
    <hr />
    @foreach (var client in Model.Clients.OrderBy(i => i.FirstName).ThenBy(i => i.LastName))
    {
        <div class="row my-3 clientRow" data-client-name="@client.FullName">
            <div class="offset-lg-1 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            @client.FullName
                        </h4>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @if (client.InvitedFriends != null && client.InvitedFriends.Any())
                            {
                                string numberClass = (client.InvitedFriends.Count(i => i.Accepted) == 4 ? "text-success" : "text-danger");
                                <div class="col-6">
                                    Invites Sent: <span class="@numberClass">@client.InvitedFriends.Count()</span>
                                    <br />
                                    Invites Accepted: <span class="@numberClass">@client.InvitedFriends.Count(i => i.Accepted)</span>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-6">
                                    Invites Sent: <span class="text-danger">0</span>
                                    <br />
                                    Invites Accepted: <span class="text-danger">0</span>
                                </div>
                            }
                        <div class="col-lg-6 my-lg-0 mt-3">
                            <div class="border border-dark rounded p-3 windowDiv" style="cursor:pointer;">
                                <span class="fa-stack fa-2x">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="far fa-user fa-stack-1x fa-inverse"></i>
                                </span>
                                <a asp-page="Window" asp-route-clientid="@client.ClientID" class="text-dark windowLink">View Window</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card-footer p-0">
                        <button class="btn btn-outline-info w-100 viewInvites"><i class="far fa-envelope"></i> View Invites</button>
                        <div class="clientInvites" style="display:none;">
                            @if (client.InvitedFriends != null && client.InvitedFriends.Any())
                            {
                                foreach (var invite in client.InvitedFriends)
                                {
                                    string cssClass = invite.Accepted ? "text-success" : "text-danger";
                                    string displaytext = invite.Accepted ? "Accepted" : "Pending";
                                    <div class="row">
                                        <div class="col-12 mx-2 my-2">
                                            @invite.Email - <span class="@cssClass">@displaytext</span>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-12 mx-2 my-2">
                                        <strong class="text-danger">No invites sent.</strong>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>