@page "{ClientID}"
@model JohariWindow.Pages.Admin.WindowModel
@{
    ViewData["Title"] = $"Johari Window - {Model.Client.FullName}";
}
<div class="container">
    <div class="row mb-2">
        <a asp-page="Index" class="btn btn-outline-dark">
            <i class="fas fa-arrow-left"></i>
            Back To Clients
        </a>
    </div>
    <div class="row mb-4">
        <h2>Johari Window - @Model.Client.FullName</h2>
    </div>
    @if (Model.ValidWindow)
    {
        <div class="row">
            <div class="col-6 border border-dark p-2 m-0 johariWindow openSelf">
                <h4 class="text-center johariTitle">Open Self</h4>
                <h5 class="border-bottom border-dark">Positive</h5>
                <div class="row mb-3">
                    @foreach (var adjective in Model.WindowVM.OpenSelf.Where(i => i.AdjType))
                    {
                        string textClasses = "";
                        int matchCount = Model.FriendResponses.Count(i => i.Adjective.AdjName == adjective.AdjName);
                        if (matchCount == 2)
                        {
                            textClasses = "font-weight-bold";
                        }
                        else if (matchCount == 3)
                        {
                            textClasses = "font-weight-bold underline";
                        }
                        <div class="col-lg-4 mb-2 johariAdjective @textClasses">
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="@adjective.AdjDefinition">
                                @adjective.AdjName
                            </span>
                        </div>
                    }
                </div>
                <h5 class="border-bottom border-dark">Negative</h5>
                <div class="row">
                    @foreach (var adjective in Model.WindowVM.OpenSelf.Where(i => !i.AdjType))
                    {
                        string textClasses = "";
                        int matchCount = Model.FriendResponses.Count(i => i.Adjective.AdjName == adjective.AdjName);
                        if (matchCount == 2)
                        {
                            textClasses = "font-weight-bold";
                        }
                        else if (matchCount == 3)
                        {
                            textClasses = "font-weight-bold underline";
                        }
                        <div class="col-lg-4 mb-2 johariAdjective @textClasses">
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="@adjective.AdjDefinition">
                                @adjective.AdjName
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div class="col-6 border border-dark p-2 m-0 johariWindow blindSelf">
                <h4 class="text-center johariTitle">Blind Self</h4>
                <h5 class="border-bottom border-dark">Positive</h5>
                <div class="row mb-3">
                    @foreach (var adjective in Model.WindowVM.BlindSelf.Where(i => i.AdjType))
                    {
                        <div class="col-lg-4 mb-2 johariAdjective">
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="@adjective.AdjDefinition">
                                @adjective.AdjName
                            </span>
                        </div>
                    }
                </div>
                <h5 class="border-bottom border-dark">Negative</h5>
                <div class="row">
                    @foreach (var adjective in Model.WindowVM.BlindSelf.Where(i => !i.AdjType))
                    {
                        <div class="col-lg-4 mb-2 johariAdjective">
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="@adjective.AdjDefinition">
                                @adjective.AdjName
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div class="col-6 border border-dark p-2 m-0 johariWindow hiddenSelf">
                <h4 class="text-center johariTitle">Hidden Self</h4>
                <h5 class="border-bottom border-dark">Positive</h5>
                <div class="row mb-3">
                    @foreach (var adjective in Model.WindowVM.HiddenSelf.Where(i => i.AdjType))
                    {
                        <div class="col-lg-4 mb-2 johariAdjective">
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="@adjective.AdjDefinition">
                                @adjective.AdjName
                            </span>
                        </div>
                    }
                </div>
                <h5 class="border-bottom border-dark">Negative</h5>
                <div class="row">
                    @foreach (var adjective in Model.WindowVM.HiddenSelf.Where(i => !i.AdjType))
                    {
                        <div class="col-lg-4 mb-2 johariAdjective">
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="@adjective.AdjDefinition">
                                @adjective.AdjName
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div class="col-6 border border-dark p-2 m-0 johariWindow unknownSelf">
                <h4 class="text-center johariTitle">Unknown Self</h4>
                <h5 class="border-bottom border-dark">Positive</h5>
                <div class="row mb-3">
                    @foreach (var adjective in Model.WindowVM.UnknownSelf.Where(i => i.AdjType))
                    {
                        <div class="col-lg-4 mb-2 johariAdjective">
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="@adjective.AdjDefinition">
                                @adjective.AdjName
                            </span>
                        </div>
                    }
                </div>
                <h5 class="border-bottom border-dark">Negative</h5>
                <div class="row">
                    @foreach (var adjective in Model.WindowVM.UnknownSelf.Where(i => !i.AdjType))
                    {
                        <div class="col-lg-4 mb-2 johariAdjective">
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="@adjective.AdjDefinition">
                                @adjective.AdjName
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="px-3 py-2">
            This client has not submitted a response <strong class="text-danger">and</strong> had at least one friend submit a response.
            A Johari Window cannot be viewed until these requirements are met.
        </div>
    }
</div>